html, body{
    background-color: #B03631;
    min-height: 100%;
}

#credit{
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
}

div{
    align-content: center;
    align-items: center;
    text-align: center;
}

span{
    font-size: 8rem;
}

button:not(#deleteTask, #clearItems, #checkTask){
    width: 15%;
    height: 65px;
    background-color: #a94b47;
}

img{
    height: 210px;
}

#heart{
    height: 17px;
}

input{
    width: 30%;
    height: 40px;
    border-radius: 11px;
    background-color: #c46560;
}

#deleteImg{
    height: 15px;
}

#checkImg{
    height: 15px;
}

#clearItems{
    width: 5%;
    height: 40px;
    background-color: #a94b47;
}